{
  "database": {
    "host": "localhost", 
    "port": 8086
  }, 
  "log_format": "%(asctime)s %(levelname)s [%(name)s %(filename)s:%(funcName)s:%(lineno)d] %(message)s", 
  "log_level": "DEBUG", 
  "plugins": {
    "tourbillon.celery": [
      "get_celery_stats"
    ]
  }, 
  "plugins_conf_dir": "${tourbillon_conf_dir}/conf.d",
  "notifications": {
    "notifiers": [
      {
        "name": "hipchat",
        "class": "tourbillon.notifiers.HipChatNotifier",
        "params": {
        }
      },
      {
        "name": "email",
        "class": "tourbillon.notifiers.EmailNotifier",
        "params": {
          "from": "",
          "to": [],
          "cc": [],
          "bcc": [],
          "host": "localhost",
          "port": "25",
          "username": "",
          "password": "",
          "use_tls": true,
          "templates": {
            "warning": {
              "filename": "",
              "subject": ""
            }
            "critical": {
              "filename": "",
              "subject": ""
            }
          }
        }
      }
    ],
    "alerts": [{
      "name": "matw",
      "query": "select hit_ratio from mmmm",
      "notifiers": ["hipchat"],
      "critical": {
        "min": 80,
        "frecuency": 10,
        "occurrences": 4,
        "lapse": 5

      },
      "warning": {
        "mix": 60,
        "max": 79,
        "frecuency": 10,
        "occurrences": 4,
        "lapse": 5
      }
    }]
  }
}