{
  "database": {
    "database": "celery",
    "host": "jimi",
    "port": 8086
  },
  "log_format": "%(asctime)s %(levelname)s [%(name)s %(filename)s:%(funcName)s:%(lineno)d] %(message)s",
  "log_level": "DEBUG",
  "plugins": {
    "tourbillon.celery": [
      "get_celery_stats"
    ],
    "tourbillon.linux": [
      "get_cpu_usage",
      "get_memory_usage"
    ],
    "tourbillon.log": [
      "get_logfile_metrics"
    ],
    "tourbillon.nginx": [
      "get_nginx_status"
    ],
    "tourbillon.sea": [
      "get_matw_stats"
    ],
    "tourbillon.uwsgi": [
      "get_uwsgi_stats"
    ]
  },
  "plugins_conf_dir": "${tourbillon_conf_dir}/conf.d"
}